head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Realtio - Real Estate Sales, Enhanced
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="Sign up to learn more about Realtio's upcoming launch")
    meta(name='author', content='Realt.io')

    include styles